In [1]:
import os
import cv2
import pytesseract as pyt
import glob
import numpy as np
import pandas as pd
import nltk
import re
nltk.download('punkt') #sentence tokenizer puunctuation kit
nltk.download('popular')
from nltk.tokenize import word_tokenize as wt
from string import punctuation
pun = list(punctuation)
pun.append('\n')
pyt.pytesseract.tesseract_cmd = r"D:\\Softwares\\Installed_Softwares\\Anaconda\\Library\\bin\\tesseract.exe"

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package gazetteers to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package inaugural to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    |   Unzipping corpora\inaugural.zip.
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package shakespeare to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package stopwords to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    |   Unzipping corpora\stopwords.zip.
[nltk_data]    | Downloading package treebank to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package omw to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package omw-1.4 to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    | Downloading package wordnet to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet2021 to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    | Downloading package wordnet31 to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    |   Unzipping corpora\wordnet31.zip.
[nltk_data]    | Downloading package wordnet_ic to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     C:\Users\varun\AppData\Roaming\nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection popular

In [2]:
# for r,s,f in os.walk("/"):
#     for i in f:
#         if "tesseract" in i:
#             print(os.path.join(r,i))

In [3]:
# pyt.pytesseract.tesseract_cmd = r"D:\\Softwares\\Installed_Softwares\\Anaconda\\Library\\bin\\tesseract.exe"
# img = cv2.imread("Datasets\\Indian License Plates\\Indian License Plates\\in\\in\\Audi-A4-528794d.jpg_0359_0305_0250_0204_0066.png")
# img = cv2.cvtColor(img,cv2.COLOR_BGR2RGB)
# text = pyt.image_to_string(img) 
# print(text)

In [4]:
# text[1:len(text)-2]

In [5]:

# cv_img = []
# for img in glob.glob("Datasets\\Indian License Plates\\Indian License Plates\\in\\in\\*.png"):
#     n= cv2.imread(img)
#     cv_img.append(n)

In [6]:
# os.listdir("Datasets\\Indian License Plates\\Indian License Plates\\in\\in\\")

In [7]:
def img_to_string(img_source):
    text=''
    img = cv2.imread(str(img_source))
    img = cv2.cvtColor(img,cv2.COLOR_BGR2RGB)
    text = pyt.image_to_string(img) 
#     return text[1:len(text)-2]
    return text

In [8]:
# def non_punct(text):
#     return re.sub("^ [a - z]"," ",str(text))

In [9]:
# license_plates = []
# license_plates_text = []
# license_plates.append(os.listdir("Datasets\\Indian License Plates\\Indian License Plates\\in\\in\\"))

In [10]:
# def nonpunct(text):
#   #cleaned_tokens = [token for token in lower_case if token not in stop_words and token not in pun]
#     tok = wt(text)
#     new_text=""
#     cleaned_tok = [token for token in tok if token not in pun]
#     for i in cleaned_tok:
#         new_text += i
#         new_text += ' '
#     return new_text

In [11]:
def nonpunct(text):
    text=text.lower()
    new_text=""
  #cleaned_tokens = [token for token in lower_case if token not in stop_words and token not in pun]
    for i in text:
        # print(i)
        
        if i.isalnum:
            if str(i) not in pun:
                # print(i)
                new_text += i
            else:
                new_text +=' '
        else:
            new_text += ' '
        # for i in cleaned_tok:
    return new_text.upper()

In [12]:
nonpunct("I KAO$3MS;79794\n")

'I KAO 3MS 79794 '

In [13]:
# for i in range(1,len(license_plates[0])):
# #     print(i)
#     license_plates_text.append(img_to_string("Datasets\\Indian License Plates\\Indian License Plates\\in\\in\\"+str(license_plates[0][i])))
#     print(str(i)+' : '+str(license_plates[0][i]))
#     print("Recognised text : "+str(license_plates_text[i-1]))
# #     print(license_plates[0][i])
# # print(license_plates_text)

In [14]:
# license_plates_text[56]

In [15]:
# license_plates_text

In [16]:
# #@title Converting the list to csv file

# df = pd.DataFrame(license_plates_text)
# df.to_csv("License Plates.csv",index = False)

In [17]:
# data = pd.read_csv('License Plates.csv')

In [18]:
# data.head()

In [19]:
# data.rename(columns={"0": "Folder : in "}, inplace=True)
# data.head()

In [20]:
# license_plates2 = []
# license_plates_text2 = []
# license_plates2.append(os.listdir("Datasets\\Indian License Plates\\Indian License Plates\\Indian Number Plate\\Indian Number Plate\\"))
# print(license_plates2[0][2])

In [21]:
# for j in range(1,len(license_plates2[0])):
# #     print(i)
#     license_plates_text2.append(img_to_string("Datasets\\Indian License Plates\\Indian License Plates\\Indian Number Plate\\Indian Number Plate\\"+str(license_plates2[0][j])))
#     print(str(j)+' : '+str(license_plates2[0][j]))
# #     print(license_plates[0][i])
# # print(license_plates_text)

In [22]:
# df = pd.DataFrame(license_plates_text2)
# df.to_csv("Indian Number Plates.csv",index = False)

# data = pd.read_csv('Indian Number Plates.csv')

# data.rename(columns={"0": "Folder : Indian Number Plates "}, inplace=True)

# # data.head()

# data['Folder : Indian Number Plate']=license_plates_text2

In [23]:
license_plates3 = []
license_plates_text3=[]
license_plates3.append(os.listdir("Datasets\\Indian License Plates\\Indian License Plates\\Indian Plates\\positive\\"))
# license_plates_text3 = np.ndarray(shape = (len(license_plates3[0]),1), dtype = str)
# print(license_plates_text3.shape)
# print(license_plates3[0][2])

In [24]:
# print(len(license_plates3[0]))

In [25]:
for j in range(1,len(license_plates3[0])):
#     print(i)
    # license_plates_text3[j-1]=(img_to_string("Datasets\\Indian License Plates\\Indian License Plates\\Indian Plates\\positive\\"+str(license_plates3[0][j])))
    license_plates_text3.append(img_to_string("Datasets\\Indian License Plates\\Indian License Plates\\Indian Plates\\positive\\"+str(license_plates3[0][j])))
    # print(str(j)+' : '+str(license_plates3[0][j]))
    # print("Recognised text : "+str(license_plates_text3[j-1]))

#     print(license_plates[0][i])
# print(license_plates_text)

In [26]:
print("Recognised text : "+str(len(license_plates_text3)))

Recognised text : 1181

In [27]:
df = pd.DataFrame(license_plates_text3)
df.to_csv('Positive Indian Number Plate.csv',index = False)

data = pd.read_csv('Positive Indian Number Plate.csv')

data.head()

                  0
0  I KAO3MS79794\n

1

2   FR 2686 0394\n

3   I=L 1¢P0290)\n

4  KA%45 M 2052.\n

In [28]:
# data.rename(columns={"0": "Folder : Positive Indian Number Plates "}, inplace=True)
data['Folder : Positive Indian Number Plates']=data['0']
del data['0']
data.head()
# data.shap

  Folder : Positive Indian Number Plates
0                       I KAO3MS79794\n

1

2                        FR 2686 0394\n

3                        I=L 1¢P0290)\n

4                       KA%45 M 2052.\n

In [29]:
print(data['Folder : Positive Indian Number Plates'].iloc[5])

In [30]:
for i in range(1,len(data['Folder : Positive Indian Number Plates'])):
    data['Folder : Positive Indian Number Plates'].iloc[i] = nonpunct(data['Folder : Positive Indian Number Plates'].iloc[i])

In [31]:
# for i in range(1,len(data['Folder : Positive Indian Number Plates'])):
#     if len(data['Folder : Positive Indian Number Plates'].iloc[i])==10:
#         data['Folder : Positive Indian Number Plates'] = data['Folder : Positive Indian Number Plates']
#     else:
#         data['Folder : Positive Indian Number Plates'] = '0'

In [32]:
data.to_csv("omg.csv")

In [33]:
data1 = pd.read_csv("omg.csv")
data1.head()

   Unnamed: 0 Folder : Positive Indian Number Plates
0           0                       I KAO3MS79794\n

1           1

2           2                         FR 2686 0394

3           3                         I L 1¢P0290

4           4                        KA 45 M 2052

In [34]:
pun

['!',
 '"',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 '{',
 '|',
 '}',
 '~',
 '\n']